{% load custom_tags %}

<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    {% if user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'social:post-list' %}"
      ><i class="fas fa-building"></i>Tech HUB</a
    >
    {% else %}

    <a class="navbar-brand" href="{% url 'landing:index' %}"
      ><i class="fas fa-building"></i>Tech Hub</a
    >
    {% endif %}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a href="{% url 'social:explore' %}" class="inbox-icon"
            ><i class="far fa-compass"></i
          ></a>
        </li>
      </ul>
      <form
        class="d-flex"
        method="GET"
        action="{% url 'social:profile-search' %}"
      >
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            aria-label="Username"
            aria-describedby="basic-addon1"
            name="query"
            value="{{ request.GET.query }}"
          />
          <button type="submit" class="remove-default-btn">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      {% if user.is_authenticated %}
      <div class="nav-item-dropdown">
        <a
          href=""
          class="nav-link dropdown-toggle text-dark"
          data-bs-toggle="dropdown"
          role="buton"
          aria-expanded="false"
          ><i class="fas fa-user"></i
        ></a>
        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item"
              href="{% url 'social:profile' request.user.profile.pk %}"
              >Profile</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'account_logout' %}"
              >Sign Out</a
            >
          </li>
        </ul>
      </div>
      <div class="nav-item inbox-icon-container">
        <a href="{% url 'social:inbox' %}" class="inbox-icon"
          ><i class="far fa-paper-plane"></i
        ></a>
      </div>
      <div class="nav-item">{% show_notifications %}</div>
      {% endif %}
    </div>
  </div>
</nav>
</div>
